@import '../../scss/variables.scss';
.securityaudit{
  
background-color: #090309;
.title {
    font-family: 'HACKED', sans-serif;
    font-weight: normal;
    font-size: 77px;
    color: $whiteText;
}

.subheading {
    font-family: 'SkyFall Done';
    font-weight: normal;
    font-size: 16px;
    color: $whiteText;
}
}